<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li>
                <a href="#">Sobre Nós</a>
                <ul class="dropdown">
                    <li><a href="#">Produto A</a></li>
                    <li><a href="#">Produto B</a></li>
                </ul>
            </li>
            <li><a href="#">Contato</a></li>
            <li><a href="/node/login">Minha Conta</a></li>
        </ul>
    </nav>


    <div class="row ">
        <div class="mt-4 col-12 d-flex justify-content-center">
            <i style="font-size:60px;" class="fa fa-tree"></i>
        </div>


        <div class="mt-4 col-12 d-flex justify-content-center">
            <h2>Fazer um tela de entrada no sistema apresentando o corta pau</h2>
        </div>
    </div>


</body>
</html>