
<div class="row ">
    <div class="mt-4 col-12 d-flex justify-content-center">
        <i style="font-size:60px;" class="fa fa-tree"></i>
    </div>

    <div class="mt-4 col-12 d-flex justify-content-center">
        <h2>Pagina interna do sistema</h2>
    </div>

    <div class="mt-4 col-12 d-flex justify-content-center">
        <a type="submit" class="btn btn-outline-dark" href="chamado/">Meus chamados</a>
    </div>

    <div class="mt-4 col-12 d-flex justify-content-center">
        <a type="submit" class="btn btn-outline-dark" href="chamado/new">Novo chamado</a>
    </div>

    <div class="mt-4 col-12 d-flex justify-content-center">
        <a type="submit" class="btn btn-outline-dark" href="atender/">Atender chamado</a>
    </div>
    <div class="mt-4 col-12 d-flex justify-content-center">
        <a type="submit" class="btn btn-outline-dark" href="logout">Sair</a>
    </div>
</div>

