<form action="" method="post">
    <div class="row">
        <div class="mt-4 col-12 d-flex justify-content-center">
            <i style="font-size:60px;" class="fa fa-tree"></i>
        </div>


        <div class="mt-4 col-12 d-flex justify-content-center">
            <h2>Login</h2>
        </div>


        <div class="mt-4 g-col-12 d-flex justify-content-center">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Entre com o seu email" required autocomplete="off">
            </div>
        </div>

        <div class="mt-4 col-12 d-flex justify-content-center">
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="text" name="password" id="password" placeholder="password" required>
            </div>
        </div>

        <div class="mt-4 col-12 d-flex justify-content-center ">
            <button type="submit" class="submit-btn">Login</button>
        </div>                
        <div class="mt-4 col-12 d-flex justify-content-center ">
            <p>Don't have an account? <a href="signup">Signup</a>
        </div>                
    </div>
</form>
