
<h2>SignUp</h2>
<form action="" method="post">
    <div class="row ">
        <div class="col-12 mt-4 form-group d-flex justify-content-center">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="username" placeholder="Entre com o seu nome" required autocomplete="off">
        </div>
        <div class="col-12 mt-4 form-group d-flex justify-content-center">
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" placeholder="password" required>
        </div>
        <div class="col-12 mt-4 form-group d-flex justify-content-center">
            <label for="Email">Email:</label>
            <input type="text" name="email" id="email" placeholder="Email" required>
        </div>
        <div class="col-12 mt-4 form-group d-flex justify-content-center">
            <label for="Profissao">Profissao:</label>
            <input type="text" name="profissao" id="profissao" placeholder="Profissao" required>
        </div>
        <div class="col-12 mt-4 orm-group d-flex justify-content-center">
            <label for="Telefone">Telefone:</label>
            <input type="tel" name="telefone" id="telefone" placeholder="Telefone" required>
        </div>
        <div class="col-12 mt-4 form-group d-flex justify-content-center">
            <label for="Instituicao">Instituicao:</label>
            <input type="text" name="instituicao" id="instituicao" placeholder="Instituicao" required>
        </div> 
        <div class="col-12 mt-4 form-group d-flex justify-content-center">
            <label for="local">Local:</label>
            <input type="text" name="local" id="local" placeholder="local" required>
        </div>         
        <div class="col-12 mt-4 form-group d-flex justify-content-center">
            <button type="submit" class="submit-btn">SignUp</button>
        </div>         
    </div>
    
</form>
