<form action="new" method="post" esnctype="multipart/form-data">
  <table  class="forms">

    <tr>
      <td>
        <label for="Nome"><b>Nome</b></label>
      </td>
      <td>
        <input type="text" placeholder="Nome" name="nome" required>
      </td>
    </tr>

    <tr>
      <td>
        <label for="senha"><b>Senha</b></label>
      </td>
      <td>
        <input type="text" placeholder="Senha" name="password" required>
      </td>
    </tr>
    <tr>
      <td>
        <label for="email"><b>Email</b></label>
      </td>
      <td>
        <input type="text" placeholder="Email" name="email" required>
      </td>
    </tr>

    <tr>
      <td>
        <label for="instituicao"><b>Instituicao</b></label>
      </td>
      <td>
        <input type="text" placeholder="Instituicao" name="instituicao" required>
      </td>
    </tr>

    <tr>
      <td>
        <label for="profissao"><b>Profissao</b></label>
      </td>
      <td>
        <input type="text" placeholder="Profissao" name="profissao" required>
      </td>
    </tr>

    <tr>
      <td>
        <label for="telefone"><b>Telefone</b></label>
      </td>
      <td>
        <input type="text" placeholder="telefone" name="telefone" required>
      </td>
    </tr>

    <tr>
      <td>
        <label for="local"><b>Local</b></label>
      </td>
      <td>
        <input type="text" placeholder="local" name="local" required>
      </td>
    </tr>

    <tr>
      <td>
        <button type="submit" class="criarbtn" href="./index.ejs">Criar </button>
      </td>
      <td>
        <button type="submit" class="cancelbtn">Cancelar</button>
      </td>
    </tr>
    
  </table>
</form>
