 <form aaction="new" method="post" esnctype="multipart/form-data">
  <table class="forms">
    <tr>
      <td >
        <label for="Local"><b>Localidade do chamado</b></label>
      </td>
      <td>
        <input type="text" placeholder="Local" name="local" required>
      </td>
    </tr>
    <tr>
      <td>
        <label for="tipo"><b>Tipo do chamado</b></label>
      </td>
      <td>
        <input type="text" placeholder="Tipo do chamado" name="tipo" required>
      </td>
    </tr>
    <tr>
      <td>
        <label for="titulo"><b>Titulo do chamado</b></label>
      </td>
      <td>
        <input type="text" placeholder="Titulo" name="titulo" required>
      </td>
    </tr>
    <tr>
      <td>
        <label for="Obs"><b>Observação</b></label>
      </td>
      <td>
        <input type="text" placeholder="Observação" name="obs" required>
      </td>
    </tr>
    <tr>
      <td>
        <label for="data"><b>Data</b></label>
      </td>
      <td>
        <input type="text" placeholder="data" name="data"required>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" class="criarbtn" href="new">Criar </button>
      </td>
      <td>
        <button type="submit" class="cancelbtn">Cancelar</button>
      </td>
    </tr>
    
  </table>
</form>
